<p>Hello <%= @user.name %>,</p>

<p>You have been invited to join <strong><%= @account.name %></strong> on Vraic OS as a team member.</p>

<p>You can sign in to your account using your email address at:</p>

<p><%= link_to "Sign in to Vraic OS", new_session_url %></p>

<p>If you don't have a password set up yet, you can sign in using a one-time code sent to your email.</p>

<p>Welcome aboard!</p>
