<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing Newsletter</h1>

  <%= render "form", newsletter: @newsletter %>

  <div class="mt-4 flex gap-2">
    <%= link_to "Show this newsletter", @newsletter, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to newsletters", newsletters_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
