<% content_for :title, "Editing Permissions for #{@account_user.user.name}" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-8">Editing Permissions for <%= @account_user.user.name %></h1>

  <%= render "form", account_user: @account_user %>

  <%= link_to "Back to account", @account_user.account, class: secondary_button_class("mt-4 inline-block") %>
</div>
