<% content_for :title, "Add Staff to #{@account.name}" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-8">Add Staff to <%= @account.name %></h1>

  <%= render "form", account_user: @account_user %>

  <%= link_to "Back to account", @account, class: secondary_button_class("mt-4 inline-block") %>
</div>
